<head>
<link rel="stylesheet" type="text/css" href="home.css.scss" />

<head>
<body>
<h1>Daniel</h1>
<h3>I am a ten year old boy.</h3>


<p1>

respond_to :json
	render :text =>
  	'{ "info": [

      { "Name": "SPANIEL"
    
      }
			  ]
      }'

</p1>
</body>


	