h1 {
	color: red;
	background: brown;

}

h3 {
	color: orange;

}


p1 {
	color: blue;
	background: brown;
	font-family: ariel;
	

}






body {
    
	background-color: #f3f3f3;
    text-align: center;
     margin-left: 150px;
     margin-right: 150px;
   overflow: hidden;
}